:root {
    --main-bg-color: rgb(206, 241, 245);
    --header-bg-color: rgb(174, 215, 219);
    --product-item-bg-color: rgb(146, 200, 206);
    --button-bg-color: rgb(248, 224, 7);
    --button-hover-bg-color: rgb(207, 190, 36);
    --button-active-bg-color: rgb(175, 163, 54);
    --shadow-button-active-color:rgba(5, 79, 92, 0.8);
    --shadow-color:rgba(21, 73, 97, 0.5);
  }

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--main-bg-color);
}

button{
    background-color: var(--button-bg-color);
    box-shadow: 0 0 10px var(--shadow-color);
    border: 2px solid var(--button-bg-color);
    padding: 2px;
    border-radius: 3px;
    color: rgb(28, 77, 77);
}
button:hover{
    background-color: var(--button-hover-bg-color);
    border: 2px solid var(--button-hover-bg-color);
}
button:active{
    background-color: var(--button-active-bg-color);
    border: 2px solid rgba(9, 137, 160, 0.3);
    box-shadow: 0 0 6px var(--shadow-button-active-color);
}

.container {
    width: 1140px;
    margin: 0 auto;
}
.header{
    background-color: var(--header-bg-color);
    box-shadow: 0 0 10px var(--shadow-color);
    height: 40px;
    position: relative;
}
.btn-cart {
    position:absolute;
    right: 5px;
    top: 5px;
    line-height: 22px;
}

.main{

}
.products{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.product-item{
    background-color: var(--product-item-bg-color);
    box-shadow: 0 0 10px var(--shadow-color);
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
}
.product-item > img  {
    width: 240px;
    padding: 5px 5px 5px 5px;
    border-radius: 20px;
}

.product-item > p  {
    width: 240px;
    text-align: center;
    padding: 5px 5px 5px 5px;
}